<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="../../statik/mountais/css/moutais.css" rel="stylesheet">
    <link rel="stylesheet" href="">
    <title>Title</title>
</head>
<body>
<div class="main">
    <div class="section-1">
        <div class="blok-1">
            <img src="../../statik/mountais/img/fon.png" class="foto-1">
            <div class="text-over-image reletiv">
                <h1 class="osnov-zag">Your Journey Starts Here...</h1>
                <h6 class="nixh-zag">The Travel Companies That Will Change The Way You See The World</h6>
            </div>
        </div>
    </div>

    <div class="section-2">
        <div class="blok-2">
            <h2 class="text2">Luxury tailor-made holidays from Original Travel</h2>
            <p class="text2-2">At Original Travel we believe that life is in the detail</p>
        </div>
    </div>
    <div class="section-3">
        <div class="blok-3">
            <div class="text3">
                <p>For instance, the emphasis is on flexibility and personalisation across a range of authentic
                    experiences in Africa, Asia, Latin America and Canada. Designing each holiday around a client’s.</p>
            </div>
            <div class="text3-2">
                <p>Designing each holiday around a client’s needs and preferences, the result is an individually-created
                    itinerary which is big on imagination and catered around each individual's interests. </p>
            </div>
        </div>
    </div>
    <div class="section-4">
        <div class="blok4">
            <img src="../../statik/mountais/img/logo.png" class="foto-2">
        </div>
    </div>
    <div class="section-5">
        <div class="blok-5">
            <img src="../../statik/mountais/img/snow-forest.png" class="foto-4">
            <div class="blok-5-1">
                <div class="nediv">
                <div class="blok-5-foto">
                    <img src="../../statik/mountais/img/snow-mounts.jpeg" class="foto-5-1">
                    <img src="../../statik/mountais/img/vother.jpeg" class="foto-5-2">
                </div>
                <div class="blok-5-foto">
                    <img src="../../statik/mountais/img/menik.jpeg" class="foto-5-3">
                    <img src="../../statik/mountais/img/women.jpeg" class="foto-5-4">
                </div>
                <div class="blok-5-foto">
                    <img src="../../statik/mountais/img/men.jpeg" class="foto-5-5">
                    <img src="../../statik/mountais/img/forest.jpeg" class="foto-5-6">
                </div>
                </div>
                <div class="text-5-1">
                    <h2 class="text-5-1-1">There is a world of possibilities out there</h2>
                    <p class="text-5-1-2">Here are just a few trip ideas to get you started</p>
                    <button class="knopka-2">VIEW MORE</button>
                </div>
            </div>
        </div>
    </div>
    <div class="section-5-1">
        <div class="blok-1 niz">
            <img src="../../statik/mountais/img/med-max.png" class="foto-1">
        </div>
    </div>
    <div class="section-6">
        <div class="blok-6">
            <img src="../../statik/mountais/img/fog.png" class="foto-4">
            <div class="granich">
                <div class="blok-6-1">
                    <div class="otstup">
                        <h2 class="text-6-1">Where to go?</h2>
                        <p class="text-6-2">Explore the world to find the destination of your choice.</p>
                        <p class="text-6-3">Guests can celebrate a milestone birthday with their own private camp and DJ
                            on
                            a glacier in
                            Iceland,
                            indulge in a gastronomic tour of the Douro Valley, or connect with each other better through
                            the
                            power of storytelling in the Botswana bush.&nbsp;Parents can connect with their teenage
                            children
                            while making their own feature-length wildlife documentary with a filmmaker in Kenya, or
                            seek
                            replenishment upon crystal-clear waters during a fortnight’s sailing trip across the Indian
                            Ocean.</p>
                    </div>
                </div>
                <div class="blok-6-2">
                    <img src="../../statik/mountais/img/world-map.png" class="foto-5">
                </div>
            </div>
        </div>
    </div>
    <div class="section-7">
        <div class="blok-7">
            <img src="../../statik/mountais/img/snow-hills.png" class="foto-7">
            <div class="blok-7-foto">
                <div class="blok-7-foto-1-3">
                    <img src="../../statik/mountais/img/sea.jpeg" class="foto-7-1">
                    <img src="../../statik/mountais/img/sammer-forest.jpeg" class="foto-7-2">
                </div>
                <div class="blok-7-foto-1-2">
                    <img src="../../statik/mountais/img/zakat.jpeg" class="foto-7-3">
                    <img src="../../statik/mountais/img/red.jpeg" class="foto-7-4">
                    <img src="../../statik/mountais/img/fire.jpeg" class="foto-7-5">
                </div>
                <div class="blok-7-foto-1-1">
                    <img src="../../statik/mountais/img/pad.jpeg" class="foto-7-6">
                    <img src="../../statik/mountais/img/list.jpeg" class="foto-7-7">
                </div>
            </div>
            <div class="blok-7-text">
                <h2 class="blok-7-1">At Your Service</h2>
                <p class="blok-7-2">The following come as standard when travelling with Original Travel.</p>
                <p class="blok-7-3">Curated by a dedicated travel design team, the company has initially launched with
                    12 innovative
                    experiences, and will continue to add to the collection as new journeys are created. Completely
                    bespoke itineraries are also available, upon request.</p>
                <br>
                <button class="knopka-1">VIEW MORE</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
